<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat This Burger{{else}}Clean the Plate and Make This Burger Again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Clean This Plate</button>
</li>
